<body>

  <nav class="navbar navbar-expand fixed-top navbar-dark bg-dark">
    <div class="container">


      <a class="navbar-brand mr-auto" href="/">Logo Here</a>

      <form class="mx-3 my-auto search-width">
        <div class="input-group">
           <input type="text" class="form-control" id="navSearch" placeholder="Search For Games">
            <span class="input-group-append">
            <div class="btn btn-outline-secondary"><i class="fas fa-search"></i></div>
            </span>
        </div>
        <div class="nav-search-results-container">

        </div>
     </form>


      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item dropdown ml-2">
          <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="navbar-profile-img" src="/profileImages/default.png" alt="profile" />
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a class="dropdown-item" href="/register"><i class="fas fa-user-plus"></i> Sign Up</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>