<%- include("partials/header") -%>
<%- include("partials/navbar") -%>
<div class="container">
    <div class="content-container">
        <div class="review-wrapper wrapper-style">
            <h3>Create Your Review</h3>
            <form action="/reviews/create" method="post">
                <div class="form-row align-items-center">
                    
                    <input type="hidden" name="igdbId" value="" id="igdbId"/>
                    <input type="hidden" name="gameName" value="" id="gameName"/>

                    <div class="col-12 my-1">
                        <input class="form-control" type="text" name="game" autocomplete="off" placeholder="Game Title" value="" id="gameTitle" required/>
                        <div class="search-results-container">
                        </div>
                    </div>
                    <div class="col-12 my-1">
                        <input class="form-control" type="text" name="title" autocomplete="off" placeholder="Review Title" id="" required/>
                    </div>
                    <div class="col-12 my-1">
                        <textarea class="form-control" name="content" placeholder="Review Content" rows="20" required></textarea>
                    </div>
                    <div class="col-12 my-1">
                        <h4>Ratings</h4>
                        <div class="row row-cols-lg-5 row-cols-md-3 row-cols-2">
                            <div class="col">
                                <h5>Gameplay</h5>
                                <div class="float-left">
                                    <input class="star star-5" id="g-star-5" type="radio" value="5" name="gameplay"/>
                                    <label class="star star-5" for="g-star-5"></label>
                                    <input class="star star-4" id="g-star-4" type="radio" value="4" name="gameplay"/>
                                    <label class="star star-4" for="g-star-4"></label>
                                    <input class="star star-3" id="g-star-3" type="radio" value="3" name="gameplay"/>
                                    <label class="star star-3" for="g-star-3"></label>
                                    <input class="star star-2" id="g-star-2" type="radio" value="2" name="gameplay"/>
                                    <label class="star star-2" for="g-star-2"></label>
                                    <input class="star star-1" id="g-star-1" type="radio" value="1" name="gameplay"/>
                                    <label class="star star-1" for="g-star-1"></label>
                                </div>
                            </div>
                            <div class="col">
                                <h5>Visuals</h5>
                                <div class="float-left">
                                    <input class="star star-5" id="v-star-5" type="radio" value="5" name="visuals"/>
                                    <label class="star star-5" for="v-star-5"></label>
                                    <input class="star star-4" id="v-star-4" type="radio" value="4" name="visuals"/>
                                    <label class="star star-4" for="v-star-4"></label>
                                    <input class="star star-3" id="v-star-3" type="radio" value="3" name="visuals"/>
                                    <label class="star star-3" for="v-star-3"></label>
                                    <input class="star star-2" id="v-star-2" type="radio" value="2" name="visuals"/>
                                    <label class="star star-2" for="v-star-2"></label>
                                    <input class="star star-1" id="v-star-1" type="radio" value="1" name="visuals"/>
                                    <label class="star star-1" for="v-star-1"></label>
                                </div>
                            </div>
                            <div class="col">
                                <h5>Audio</h5>
                                <div class="float-left">
                                    <input class="star star-5" id="a-star-5" type="radio" value="5" name="audio"/>
                                    <label class="star star-5" for="a-star-5"></label>
                                    <input class="star star-4" id="a-star-4" type="radio" value="4" name="audio"/>
                                    <label class="star star-4" for="a-star-4"></label>
                                    <input class="star star-3" id="a-star-3" type="radio" value="3" name="audio"/>
                                    <label class="star star-3" for="a-star-3"></label>
                                    <input class="star star-2" id="a-star-2" type="radio" value="2" name="audio"/>
                                    <label class="star star-2" for="a-star-2"></label>
                                    <input class="star star-1" id="a-star-1" type="radio" value="1" name="audio"/>
                                    <label class="star star-1" for="a-star-1"></label>
                                </div>
                            </div>
                            <div class="col">
                                <h5>Story</h5>
                                <div class="float-left">
                                    <input class="star star-5" id="st-star-5" type="radio" value="5" name="story"/>
                                    <label class="star star-5" for="st-star-5"></label>
                                    <input class="star star-4" id="st-star-4" type="radio" value="4" name="story"/>
                                    <label class="star star-4" for="st-star-4"></label>
                                    <input class="star star-3" id="st-star-3" type="radio" value="3" name="story"/>
                                    <label class="star star-3" for="st-star-3"></label>
                                    <input class="star star-2" id="st-star-2" type="radio" value="2" name="story"/>
                                    <label class="star star-2" for="st-star-2"></label>
                                    <input class="star star-1" id="st-star-1" type="radio" value="1" name="story"/>
                                    <label class="star star-1" for="st-star-1"></label>
                                </div>
                            </div>
                            <div class="col">
                                <h5>Overall</h5>
                                <div class="float-left">
                                    <input class="star star-5" id="o-star-5" type="radio" value="5" name="overall"/>
                                    <label class="star star-5" for="o-star-5"></label>
                                    <input class="star star-4" id="o-star-4" type="radio" value="4" name="overall"/>
                                    <label class="star star-4" for="o-star-4"></label>
                                    <input class="star star-3" id="o-star-3" type="radio" value="3" name="overall"/>
                                    <label class="star star-3" for="o-star-3"></label>
                                    <input class="star star-2" id="o-star-2" type="radio" value="2" name="overall"/>
                                    <label class="star star-2" for="o-star-2"></label>
                                    <input class="star star-1" id="o-star-1" type="radio" value="1" name="overall"/>
                                    <label class="star star-1" for="o-star-1"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-1 d-flex justify-content-end">
                        <button type="submit" class="btn btn-light px-5 mr-2" formaction="/drafts/create">Draft</button>
                        <button type="submit" class="btn btn-light px-5">Post</button>
                    </div>
                </div>

                <% if(locals.errorMsg) {%>
                    <p class="warning-text"><%=errorMsg%></p>
                <%}%>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
<%- include("partials/footer") -%>