<%- include("partials/header") -%>
<%- include("partials/navbar-login") -%>
<div class="container">
    <div class="content-container">
        <div class="login-wrapper wrapper-style">
            <h3>Forgot Password</h3>
            <form action="/forgot" method="post">
                <div class="form-row align-items-center">
                    <div class="col-12 my-1">
                        <input class="form-control" type="text" name="username" placeholder="Username or Email" id="" required/>
                    </div>
                    <div class="col-12 my-1">
                        <button type="submit" class="btn btn-light">Reset Password</button>
                    </div>
                </div>

                <% if(locals.errorMsg) {%>
                    <p class="warning-text"><%=errorMsg%></p>
                <%}%>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>