<%- include("partials/header") -%>
<%- user !== null ? include("partials/navbar") : include("partials/navbar-login") -%>

<div class="container">
    <div class="content-container">
        <h1 class="mb-4">Privacy Policy</h1>

        <p>This privacy policy applies to your use of www.regularreviews.com. Regular Reviews values the privacy of users and others who visit and use the Regular Reviews site (collectively or individually, “you” or “users”) and wants you to be familiar with how we collect and use personal information from and about you. This notice describes our privacy policy. By visiting www.regularreviews.com or setting up your account you are accepting the practices described in this Privacy Notice, to the extent permitted by law. </p>

        <!-- <p>For purposes of data protection laws, Twitch Interactive, Inc. located at 350 Bush Street, 2nd Floor, San Francisco, CA 94104, is the “data controller” of your information collected in connection with the Twitch Services.</p> -->
        
        <p>You may share personal information when using the site. One example is when you provide information about yourself as part of the account creation process. Another is when you take certain actions on the site that are public or intended to be public in nature, such as when you publish a review or participate in a discussion surrounding a review. Given the social nature of the site, that information may be collected, used, or disclosed by others who are part of that social interaction. </p>


        <h4 class="mt-4">Personal information Regular Reviews collects about you</h4>

        <p>We obtain information about you through the means discussed below when using the site. Please note that we need certain types of information so that we can use the site. If you do not provide us with such information, or ask us to delete it, you may no longer be able to access or use the site.</p>

        <p><strong>User-provided Information:</strong> You may provide a variety of information about yourself to us, such as a username and email address when you register to use the site; upload or view certain content from the site; or otherwise use the features and functionality of the site.</p>

        <p><strong>Cookies and Other Tracking Technologies:</strong> We use cookies and other tracking technologies (e.g., web beacons, device identifiers and pixels) to store your account session and any preferences you may have set.</p>

        <h4 class="mt-4">How Regular Reviews uses personal information</h4>

        <p>We use your email address to communicate with you, including customer service purposes, or to contact you regarding password changes.</p>

        <h4 class="mt-4">Data Subject Rights and your choices</h4>

        <p>Residents of the European Economic Area (“EEA”), can exercise certain data subject rights available to them under applicable data protection laws.  We will comply with requests to exercise these rights in accordance with applicable law. Please note that in some circumstances, we may need to keep processing your information for certain legitimate interests or to comply with a legal obligation.  If these rights apply to you, they may permit you to request that we:</p>

        <ul>
            <li>Obtain access to or a copy of certain personal information we hold about you.</li>
            <li>Prevent the processing of your personal information for direct marketing purposes (including any direct marketing processing based on profiling).</li>
            <li>Update personal information that is out of date or incorrect.</li>
            <li>Delete certain personal information we hold about you.</li>
            <li>Restrict the way that we process and disclose specific personal information about you.</li>
            <li>Transfer your personal information to a third-party provider of services.</li>
            <li>Revoke consent that you previously provided for the processing of your personal information.</li>
        </ul>

        <h4 class="mt-4">Account Closure and Deletion</h4>

        <p>If you would like to close your account and delete your profile information on www.regularreviews.com go to your profile settings. If you close your account, all reviews and comments, as well as any profile information will be removed.</p>

        <h4 class="mt-4">Changes and Updates to This Privacy Notice</h4>

        <p>Regular Reviews reserves the right to change, modify, add, or remove portions of this Privacy Policy at any time (for example to reflect updates to the site or to reflect changes in the law). Please check this Privacy Policy periodically for those changes. Your continued use of the site after the posting of changes constitutes your binding acceptance of such changes.</p>

        <p>We will not materially change our policies and practices to make them less protective of personal information collected in the past under a prior version of the Privacy Notice without the consent of affected individuals.</p>
    </div>
</div>

<script type="module" src="/js/scroll_index.js"></script>
<%- include("partials/footer") -%>