<%- include("partials/header") -%>
<%- user !== null ? include("partials/navbar") : include("partials/navbar-login") -%>

<div class="container">
    <div class="content-container">
        

    </div>
</div>
<%- include("partials/footer") -%>