body{
  background-color: #464b52;
  color: #ffffff;
}

/*general style*/
.content-container {
  padding-top: 6rem;
}

.wrapper-style{
  background-color: #51565c;
  border: 1px solid #76797c;
  border-radius: 3px;
}

/*navbar styles*/
.navbar-expand > .container{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid #ffffff;
}

.navbar .dropdown-menu {
  background-color: #343a40;
  color: #ffffff;
}

.navbar .dropdown:hover {
  background-color: #51565c;
}

.navbar .dropdown.show a {
  background-color: #343a40;
  color: #ffffff;
}

.navbar .dropdown.show a:hover {
  background-color: #51565c;
}


/*login styles*/
.login-wrapper{
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

/*review styles*/

.review-wrapper{
  padding: 20px;
  margin: 0 auto;
}

.light {
  border-color: #8a8f92;
}

.review-content {
  white-space: pre-wrap;
}

.rating-size{
  font-size: 24px;
}

.review-game-art {
  width: 118px;
  height: auto;
  border: 3px solid #FFFFFF;
}

.review-profile-picture{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid #ffffff;
}

/*profile styles*/

.profile-section{
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 1rem;
}

.profile-section p{
  margin-bottom: 0;
}

.profile-section-heading{
  margin: 1rem;
}

.display-name-margin{
  margin-top: 0.5rem;
}

.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 4px solid #ffffff;
}

.profile-image-margin{
  margin-top: 3rem;
}

.warning-text{
  color: #ff4949
}

.user-link{
  color: #ffffff;
  text-decoration: underline;
}

.user-link:hover{
  color: #ffffff;
}

/*modal stuff*/

.modal {
  display: none; 
  position: fixed; 
  z-index: 2; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8); 
}

.modal-content {
  background-color: #51565c;
  margin: 450px auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
}

/*media queries*/
@media screen and (max-width: 768px) {
  .profile-image-margin {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 576px) {
  .navbar-expand > .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/*star rating*/
input.star { 
  display: none; 
}

label.star {
  float: right;
  font-size: 25px;
  color: #8a8f92;
  transition: all .2s;
  cursor: pointer;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #ffdd44;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #995522;
}

input.star-1:checked ~ label.star:before { 
  color: #ff6622; 
}

label.star:hover { 
  transform: rotate(-15deg) scale(1.3); 
}

label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}

.star-highlight{
  color: #ffdd44;
}

.star-lowlight{
  color: #8a8f92;
}

.star-size{
  font-size: 25px;
}

/* game art styles */

.game-art {
  width: 198px;
  height: auto;
  border: 3px solid #FFFFFF;
}

/* search results */

.search-results-container{
  position: absolute;
  display: none;
  z-index: 1;
  width: 65%;
  max-height: 300px;
  overflow: auto;
  background-color: #8a8f92;
}

.search-results-container:hover{
  cursor: pointer;
}

.search-game-art {
  width: 66px;
  height: auto;
  padding: 10px;
}

.search-game-text{
  font-size: 16px;
  margin: 0;
}
